nav {
  background-color: #fff;
  color: #000;
  padding: 10px;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding: 10px;

    .recipe-link {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;

      .recipe-icon {
        display: flex;
        align-items: center;

        img {
          width: 28px;
          height: 28px;
          margin-right: 10px;
        }

        span {
          display: inline;
          font-size: 20px;
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .custom-icon {
    width: 24px;
    height: 24px;
  }
}
