* {
  margin: 0;
}

.App {
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
}

.container {
  background-color: #F5F5F5;
  height: 100vh;
  margin: 0 auto;

  .list {
    margin: 0 auto;
    padding: 20px;
    width: 80vw;
  }

  .list-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: 90vh;
  }
}